<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"
      lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1"
        http-equiv="X-UA-Compatible">
  <meta content="width=device-width"
        name="viewport">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
        name="description">
  <link href="{{ site.baseurl }}{{ page.url }}"
        rel="canonical">
  <link href="{{ '/site.manifest' | prepend: site.baseurl | prepend: site.url }}"
        rel="manifest">
  <link href="{{ site.baseurl }}/images/favicon.ico"
        rel="icon"
        type="image/png">
  <link href="{{ site.baseurl }}/images/apple-touch-icon.png"
        rel="apple-touch-icon">
  <link href="{{ site.baseurl }}/css/main.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700"
        rel="stylesheet"
        type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab"
        rel="stylesheet"
        type="text/css">
  <script src="{{site.baseurl}}/scripts/modernizr.custom.js"></script><!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <header class="page-header"
          id="top"
          role="banner">
    <h1>{{site.title}}</h1>
    <p>{{site.tagline}}</p>
    <nav role="navigation">
      <input id="menu-toggle"
           type="checkbox"> <label class="toggle-label"
           for="menu-toggle"><span>menu</span></label>
      <ul class="menu">
        <li>
          <a href="{{site.baseurl}}/index.html"
              title="Articles">Blog</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/about.html"
              title="learn more">About</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/resources.html"
              title="resources">Resources</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/tags/"
              title="Archive">Archive</a>
        </li>
      </ul>
    </nav>
  </header>{{content}} {% if page.id %} {% include footer-post.html %} {% else %} {% include footer.html %} {% endif %}
</body>
</html>
